<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
  <title>Password Generator</title>
</head>
<body>
  <div>
    <main class="center">
      <h1>Password Generator</h1>
      <p>Generate secure random passwords for safe logins.</p>
      <form method="get" action="submit" name="password">
        {% if password %}
            <p>Your new password is: {{ password }}</p>
        {% endif %}
      </form>

    </main>
  </div>
  
</body>
</html>