<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
  <title>Password Generator</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Password Generator</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="https://github.com/gmachadosimoes">Author</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div>
    <main class="center">
      <h1>Password Generator</h1>
      <p>Generate secure random passwords for safe logins.</p>
      <form method="get" action="submit" name="password">
        {% if password %}
            <p>Your new password is: {{ password }}</p>
        {% endif %}
      </form>
      <br>
      <div>
        <p>If you want to generate a new password, please press F5.</p>
      </div>
      <br>
      <br>
      <div>
        <footer>Built with Python by Gabriel Simoes (gmachadosimoes@gmail.com)</footer>
      </div>
    </main>
  </div>
  
</body>
</html>